{% extends "main.html" %}
{% load i18n %}

{% block head_title %}Password | {{ block.super }}{% endblock %}

{% block content %}
<div class="container"> 
<!-- container fixes the footer to bottom of page -->
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
		<h1>Reset Password</h1>
		<h1>Please keep your password confidental.</h1>
		<form method="post" action=".">
  		{% csrf_token %} 
  		{{ form.as_p }}

  		<input type="submit" value="{% trans 'Submit' %}" />
		</form>
		</div>
	</div>
</div>
{% endblock %}

