{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
<p>
The annual SIISM Research Conference in Stellenbosch features the best of global creativity on one stage. It is also simulcast live to cities around South Africa.

Every year the programme features a sterling lineup of international speakers from all corners of the world, coming together on the SIISM stage to present an up-to-the-minute survey on design and innovation from across the creative sectors. Surprise elements of dialogue, performance and music intersperse the speaker programme for an inimitable experience that makes this conference what has been said by many to be the best creative conference in the world.

Browse through the menu at the top of the page or go to <a href="{% url 'home'%}">Home</a> for more information, to view past speakers or to view videos from the last conference.

For event updates and speaker announcements sign up to our newsletter or download our festival app.

What does Conference accreditation include?

Your Conference booking (not applicable by just registering) includes breakfast, lunch and tea each day, a delegate bag, access to SIISM Stellenbar each day of the conference, one ticket to the main music event/party and a guest pass to the Expo. Your Conference accreditation gets you into the event on Thursday (at the sneak preview over the extended lunchbreak) and Friday, so please reserve your Expo guest pass for Saturday or Sunday.

Go to <a href="#">FAQs and Ts and Cs</a> for more frequently asked questions.</p>
</div>

</div>


{% endblock %}