 <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="footer">
                    <ul class="list-inline">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#">Book</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'registration_register' %}">Register</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyleft <span class="copy-left">©</span>. Group 1E 2015. All Wrongs Reserved.</p>
                </div>
            </div>
        </div>
    </footer>