{% extends "main.html" %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

{% block content %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
    <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>RESEARCH CONFERENCE</h1>
                        <h3>The Stellenbosch Institute for Informatics and Software Management</h3>
                        <h3>22 - 25 February 2016</h3>
                        <!-- displays this reminder once you log in -->
                        <h3>{% if request.user.is_authenticated %}Have you booked your ticket, {{ request.user.username }} ?{% endif%}</h3>  
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'booking'%}" class="booking"><b>Buy Tickets</b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The future is:<br>NOW</h2>
                    <p class="lead">Its a fuzzy topic, <a target="_blank" href="#">Artifical Intelligence</a> and one of the main themes at this year's conference. You have something to say about it? <br>Register now to add your submission and become a speaker at our conference too.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/img/robot.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" id="white-header">Welcome to:<br>BIG DATA</h2>
                    <p class="lead">Our first speaker <a target="_blank" href="https://za.linkedin.com/in/barnsza">Richard Barnett</a> brings us up to date with the burning topic of big data. <br>Register now to add your submission and become a speaker at our conference too.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../static/img/bigdata.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"> The venue - Rust en Vrede</h2>
                    <p class="lead">This conference will take place next year at the beautiful wine farm <a target="_blank" href="#">Rust en Vrede.</a> Our cover photo is a drawing by a local artist of the Stellenbosch region. Talent like this is rich in our country; join us at the conference to meet some of those individuals. This conference will take place next year at the beautiful wine farm <a target="_blank" href="#">Rust en Vrede.</a> Our cover photo is a drawing by a local artist of the Stellenbosch region. Talent like this is rich in our country; join us at the conference to meet some of those individuals. This conference will take place next year at the beautiful wine farm. Our cover photo is a drawing by a local artist of the Stellenbosch region. Talent like this is rich in our country; join us at the conference to meet some of those individuals.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <!-- responsive image changes with device -->
                    <img class="img-responsive" src="../static/img/venue.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Like and share this event:</h2>
                </div>
                <div class="col-lg-6">
                <!-- social media links -->
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/Thrills/ProjectX" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
     <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Proudly hosted by <br>Stellenbosch University</h2>
                    <p class="lead">Stellenbosch University's staff and students like referring to the institution as "world class". This indicates a high sense of pride and appreciation for their university. The university is one of only three public universities in the Western Cape and one of about 20 universities in the country.
                    There are no existing South African or African university ranking systems, but several international rankings have ranked SU.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-responsive" src="../static/img/stellenbosch.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
{% endblock %}