{% extends "main.html" %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

{% block content %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
    <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>RESEARCH CONFERENCE</h1>
                        <h3>The Stellenbosch Institute for Informatics and Software Management</h3>
                        <h3>February 2016</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'booking'%}" class="booking"><b>Book Now</b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The future is:<br>NOW</h2>
                    <p class="lead">Its a fuzzy topic, <a target="_blank" href="#">Artifical Intelligence</a> and one of the main themes at this year's conference. You have something to say about it? <br>Register now to add your submission and become a speaker at our conference too.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/img/robot.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Welcome to:<br>BIG DATA</h2>
                    <p class="lead">Our first speaker <a target="_blank" href="https://za.linkedin.com/in/barnsza">Richard Barnett</a> brings us up to date with the burning topic of big data. <br>Register now to add your submission and become a speaker at our conference too.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../static/img/bigdata.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Proudly hosted by <br>Stellenbosch University</h2>
                    <p class="lead">This conference will take place next year at the beautiful wine farm <a target="_blank" href="#">Spier.</a> Our cover photo is a drawing by a local artist of the Stellenbosch region. Talent like this is rich in our country; join us at the conference to meet some of those individuals. This conference will take place next year at the beautiful wine farm <a target="_blank" href="#">Spier.</a> Our cover photo is a drawing by a local artist of the Stellenbosch region. Talent like this is rich in our country; join us at the conference to meet some of those individuals. This conference will take place next year at the beautiful wine farm <a target="_blank" href="#">Spier.</a> Our cover photo is a drawing by a local artist of the Stellenbosch region. Talent like this is rich in our country; join us at the conference to meet some of those individuals.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-responsive" src="../static/img/stellenbosch.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Like and share this event:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
   
{% endblock %}