{% extends "main.html" %}
{% load i18n %}

{% block head_title %}Log Out | {{ block.super }}{% endblock %}

{% block content %}
<div class="container"> 
<!-- container fixes the footer to bottom of page -->
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
		<p class='text-align-center lead'>You have successfully logged out.</p><p class='text-align-center lead'><a href="{% url 'auth_login' %}">Login</a></p><p class='text-align-center lead'><a href="{% url 'home' %}">Back to Home</a></p><p class='text-align-center lead'><a href="#">Help</a></p>
		</div>
	</div>
</div>
{% endblock %}