{% load staticfiles %}
<!-- Loads our images, bootstrap files and js -->

<!DOCTYPE html>
<!-- html5 -->
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Conference">
    <meta name="author" content="17071186, ">
    <link rel="icon" href="{% static 'img/favicon.png' %}"> 

    <title>{% block head_title %}SIISM Conference 2016{% endblock %}</title>

    {% include 'css.html' %}
    <!-- loads our css links -->
  </head>

  <body>
    {% include 'navigation.html' %}
    <!-- adds our navigation to this base html page -->
            

          
            {% block content %}
    <!-- Content loads here -->
            {% endblock %}
              

   {% include "footer.html" %}  
	 {% include "javascript.html" %} 
	<!-- bottom of page to ensure content loads first, before scripts -->
  </body>
</html>