{% extends "main.html" %}
{% load crispy_forms_tags %}
<!-- This line calls the Crispy Forms package, which handles forms and their structure. -->
<!-- http://django-crispy-forms.readthedocs.org/ -->

{% block head_title %}Paper Submission | {{ block.super }}{% endblock %}

{% block content %}

<div class="container"> 
<!-- container fixes the footer to bottom of page -->
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3' id="form"> 
 	<h1>Paper Submission</h1>
 	<h1>Authors please make sure file is a .doc or .pdf</h1>
	<!-- classes are named after bootstrap defaults in order to trigger responsiveness -->
		<!-- List of uploaded documents -->
		{% if paper_list %}
			<ol>
			{% for paper in paper_list %}
				<li><a href="{{ paper.paper_file.url }}">{{ paper.paper_file.name }}</a></li>
			{% endfor %}
			</ol>
		{% else %}
			<p>No papers.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "paper_sub" %}" method="post" enctype="multipart/form-data"> 
			<!-- Enctpye encodes the data from the form -->
			{% csrf_token %}
			{{ form|crispy }}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.paper.label_tag }} {{ form.paper.help_text }}</p>
			<p>
				{{ form.paper.errors }}
			</p>
			<h5> Please name your files Author_Title.format </h5>
			<input class='btn btn-block btn-primary' type='submit' value='Upload' />
		</form>

	</div>
</div>
</div>

{% endblock %}

 
